/*initialize*/
body{
    background-color: rgb(255,255,220);
}
.container{
    width:100%;
    margin:0px;
    padding:0px;
}
.row{
    margin:0px;
    padding:0px;
}
.centering{
    margin: 0 auto;
    float:none;
    text-align: center;
}
button{outline : none;}
a{color:black; text-decoration:none;outline : none;}
a:link { color:black; text-decoration:none }
a:visited { color:black; text-decoration:none }
a:hover { color:black; text-decoration:none }
a:active { color:black; text-decoration:none }
/*header*/
#header{
    height:130px;
    position: absolute;
    top:0;
    background-color: rgb(215,87,59);
    box-shadow: 0px 10px 0px 0px rgba(183,72,57,1);
}
#header *{
    height:100%;
}
#logo-img{
    /*padding-top: 10px;
    padding-bottom: 10px;*/
}
#header-wrapper img{
    padding-top: 10px;
    padding-bottom: 10px;
}
#logo-img img{
    width:auto;
    height:100%;
}
#icon-notice img{
    float:left;
    padding:20px 20px 20px 0px;
}
#icons img{
    float:right;
    padding:20px 0px 20px 20px;
}

/*main*/
#main{
    margin-top: 140px;
}
/*content*/
#main-title {
    padding: 30px 0px 30px 30px;
}
#main-title img{
    width: 100px;
    height:auto;
}
#main-title strong{
    color: rgb(215,87,59);
    font-size: 50px;
    vertical-align: middle;
    padding-left: 30px;
}
#contents-wrapper{
    background-color:rgb(250,225,52);
}
#contents-title{
    padding:15px;
}
#contents-title span{
    font-size: 50px;
    color: white;
}
#contents-title img{
    width:200px;
    height:auto;
    margin-top:-40px;
}
.ticket{
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 8px 0px 0px rgba(50,50,50,0.4);
    margin-bottom: 20px;
}
.ticket span, .ticket strong{
    vertical-align: middle;
}
.ticket > div{
    padding:0;
}
.ticket div{
    display: block;
}.ticket_img{
    height: 300px;
    background-image: url(../img/ticket.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ticket .title{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.ticket-info{
    padding-left: 10px;
    height:100%;
}.ticket-info .row{
    padding-top:10px;
    height:24.99%;
}.ticket-info strong{
    display: inline;
    padding-top: 2%;
    padding-left: 5%;
    font-size:250%;
}

.t-info img{
    width:50px;
    height: 50px;
}.t-info span{
    display: inline;
    font-size: 250%;
    color: rgb(125,179,209);
}

.accountimage{
    float: left;
}.accountimage img{
    display: inline;
    width:50px;
    height:50px;
    border-radius: 50%;
}.accountimage strong{
    display: inline;
    font-size:180%;
}

.date strong{
    display: inline;
    font-size:180%;
}

.apply img{
    display: inline;
    width:50%;
    height:auto;
}.apply strong{
    display: inline;
    font-size: 180%;
}
