#ticketpage {
	background-color:rgb(255,255,222);
	padding: 1em;
}
#edit {
	margin-top: 15px;
	padding: 5px 15px 5px 15px;
    color: #fff;
    border: 0px;
    background-color: #74bae3;
    border-color: #74bae3;
    box-shadow: 0px 2px 0px 0px rgba(223,203,74,1);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.wr_message {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
	background-color: #fff;
}
.ap_name{
	width:60%;
}
.little_thumbnail {
	width: 50px;
	height: 50px;
}

.little_evaluation {
	font-size: 2px;
}

#ticket_user_name {
	font-size: 13px;
}

#send_content {
    border:solid 2px #74bae3;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
	font-size: 12px;
}

#message_button {
	opaacity: 0;
	border: 0;
	background: none;
}

#message_icon {
    width: 60px;
    height: 60px;
	background: url(../img/icon/message.png);
	background-size: contain;
}

.marginbottom10px {
	margin-bottom: 10px;
}

#thumbnail {
	width: 90px;
	height:90px;
}

.send_ms_button {
    color: #fff;
    width: 100%;
    border: 0px;
    background-color: #fcec0b;
    border-color: #fcec0b;
    box-shadow: 0px 2px 0px 0px rgba(223,203,74,1);
    margin-bottom: 40px;
    padding:10px 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#ticketTitle {
    border-right: solid 1px #cccccc;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    background-color: #cccccc;
	margin-bottom: 0px;
}

#mainticket_title {
	color: #fff;
}

.beginner_icon {
	width: 40px;
	height: 40px;
	background: url(../img/icon/beginner-i.png) no-repeat;
	background-size: contain;
	margin-top: 15px;
}

.nobeginner_icon {
	width: 40px;
	height: 40px;
    background: url(../img/icon/beginner.png) no-repeat;
    background-size: contain;
	margin-top: 15px;
}

.like_icon {
    width: 40px;
    height: 40px;
    background: url(../img/icon/like.png) no-repeat;
    background-size: contain;
    margin-bottom: 15px;
}

.nolike_icon {
    width: 40px;
    height: 40px;
    background: url(../img/icon/like-i.png) no-repeat;
    background-size: contain;
	margin-bottom: 15px;
}

#ticketdetail {
	border-right: solid 1px #cccccc;
	border-bottom: solid 4px #cccccc;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
	background-color: white;
	margin-top: 0px;
	padding-bottom: 20px;
}

h3,h6 {
	color: #f44336;
}

.teach_button {
    color: #fff;
    width: 100%;
    border: 0px;
    background-color: #fcec0b;
    border-color: #fcec0b;
    box-shadow: 0px 2px 0px 0px rgba(223,203,74,1);
    margin-top: 15px;
    padding:10px 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.teach_button_little {
	font-size: 0.8em;
}

img#price,img#time,img#location {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}


.gray-font {
	color: #bdbdbd;
}

.blue-font {
	color: #74bae3;
}

.tag {
	margin: 0px 5px 5px 0px;
}
